<form id="edit_page" method="PUT" action="/wiki/<%= page.name %>">
  <fieldset>
    <legend>Editing <%= page.name %></legend>

    <div class="row">
      <div class="large 12-columns">
        <textarea id="edit_page_contents" rows="50" cols="100"><%= page.contents %></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large 8-columns">&nbsp;</div>
      <div class="large 4-columns">
        <input type="submit" value="Save" class="button">
      </div>
    </div>
  </fieldset>
</form>
